@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.jumbotron {
background-image: url("../images/banner 2.jpg");
height: 400px;
background-size: cover;
background-position: center;
}
  

