@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.jumbotron {
background-image: url("../images/banner 2.jpg");
height: 400px;
background-size: cover;
margin-bottom: 0%;
background-position: center;
transition: all .5s ease-in-out ;
-moz-transition: all .5s ease-in-out ;
-webkit-transition: all .5s ease-in-out 
 
}
  
.container-fluid {
    background-color: rgb(26, 39, 221);
    height:100px

}

.container-fluid h1 {
    color:white;
    text-align: center;
    margin-top:2px;
    margin-bottom: 5px;
}
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;}
    .social-networks{
    text-align: center;

}
.social-networks{
    text-align: center;

}
footer{
    height: 150px;
    color: black;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

   .social-networks i {
     text-align: center;
     margin-top: 5px;
    color: ghostwhite;


   }
  
  
 
