@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* colours*/

main {
    
    background:white;

}
/* nav bar*/

.navbar{
    height: 50px;
    
}
.ms auto{
    text-align: right;

}

.navbar-nav{
    background-color: #2089F2;
    opacity: 1;
}
                                                       
.navbar-brand{
    margin:0;
    padding:0;
}
     
.logo{
    height:50px;
    padding-right:15px;
    padding-left:5px;
    width: 100px;
}
  
  .nav-item a:hover{
      background-color: rgb(17, 182, 233);
  }
  .nav-item a:hover {
    border:solid rgb(49, 197, 30)
  }

  

/* This is home page jumbotron*/
.jumbotron {
background-image: url("../images/banner 2.jpg");
height: 420px;
background-size: cover;
margin-bottom: 0%;
background-position: center;
transition: all .5s ease-in-out ;
-moz-transition: all .5s ease-in-out ;
-webkit-transition: all .5s ease-in-out 
 
}


  /* Main Container-fluid with text*/
.container-fluid {
    background-color: #2089F2;
    height:50px
   

}

.container-fluid h1 {
    color:white;
    text-align: center;
    margin-top:0px;
    margin-bottom: 5px;
    padding-top: 1px;
    font-family:"Roboto", sans-serif;
    font-size:40px ;
    font-weight: 600;
}


/* fontawsome icons index/home page*/
  .icons i {
    padding-top: 5px;
    display: block;
    text-align: center;
    color:blue;
    font-size: 50px;


}
  /* Home/index contaoner heading h2*/
.container .col-md-4 h2 {
     text-align: center;
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    
 /* Home/index text p */
}
 .container .col-md-4 p {
     text-align: center;
    font-family:"roboto", sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
    

}


 /* Contact form*/
.contact-form {
    text-align: center;

   
}

/* NOT SURE IF I NEED THIS???*/

   div .form-section  {
   text-align: center;
   display: inline-block;
   
  }
  .flex-container {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  
}

    

.submit-button{ 
    margin-top:20px;
    border-radius:4px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size:20px;
    font-weight:500;
    background-color:rgb(17, 182, 233);
    border-color: #6FDF0E;
    color: black;
}
    
 
 #image  {
  background-image: url("../images/inch\ beach.jpg");
  background-size: cover;
  
}


.form-section{
    background-color:white;
    background-size: cover;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: sticky;
    padding: 30px;
    left: 38%;
    max-width: 400px;
   opacity: 0.8;
   color:black
}
.text-input {
    background:transparent;
    color:#0c0c0c;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
}
.text-area{
   background:transparent;
    color:#0c0c0c;
    width:100%;
    height:60px;
    margin:5px 0 20px 0;
 
}
.uppercase-text {
    font-size: 40px;
    font-weight: 500;
    font-family:"Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}


/* skills page */

.progress{
    height: 40px;
    background-color: white;
    font-size:1rem;
    padding:5px;
}
.container .col-md-4 .skills-image {
    width: 315px;
    height:250px;
    width:100%;
}

.container .col-md-4 h2 {
     text-align: center;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 30px;

}
.container .col-md-4 p {
     text-align: center;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;

}

/* Portfolio */

 img {
    max-width: 100%;
  }   


  .card{
    text-align: center;
    width: 100%;


}
/* footer,text and social networks*/
.icons p{
    font-size: 20px;
    font-family:"Roboto", sans-serif;
    text-align: justify;
}
 
  .footer P {
     color:ghostwhite;
     padding-bottom: 6px;
     text-align: center;
  }
  .footer  {
    height: 70px;
    background-color:#2089F2;
    margin-bottom: 0;
   
  
}

  
.social-networks{   
    text-align: center;
    padding-right: 30px;

}


.social-networks li{                                                                                                                                                                                                                                                                            
    display: inline;
}
.social-networks  i {
    font-size: 150%;
    margin: 1%;
    padding-top: 2px;
    margin-top: 2px;
    color: ghostwhite;
    
    
}
/* anchoring my footer with flexbox*/

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
